body {
    font-family: 'Roboto', 'sans-serif';
    color: #656C70;
    background-color: #f3f3f3;
}

a {
    color: #656C70;
}

.border {
    border: 1px solid #e1e1e1;
}

/*login & signup styling*/

#login input[type="text"], #login input[type="password"], #login input[type="email"],
#login input[type="number"], select{
    margin: 0px;
    height: 50px;
}

.border-radius-top {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 0px !important;
}


.border-radius-bottom {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.no-radius {
    border-radius: 0px;
    border-bottom: 0px !important;
}

/* validation error message style*/
.error {
	color: red;
	font-weight: bold;
}


/* flash message style*/
.success {
	color: green;
	font-weight: bold;
}