@()

@main("Add User") {
	@dashboard_menu()
   
 
	<div class="main">
		<div class="wrapper">
			<div id="login" class="row" style="margin: auto">
				<form action="/submitactivity" method="POST">
					<div class="large-12 columns text-center">
						<h3 class="text-center">Enter Activity Details:</h3>
				    <input type="text" placeholder="Activity type:" class="no-radius" name="kind" />
				    <input type="text" placeholder="Activity location:" class="no-radius" name="location" />
				    <input type="number" placeholder="Distance in km:" class="no-radius" name="distance" />
				    <button  class="button small border-radius-bottom" style="width: 100%">Upload Activity</button>
					 </div>
				</form>
			</div>
		</div>
	</div>
}
