@()

@activeLink(currentPath:String) = @{
if(request.path.equals(currentPath)) "active"
}

<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Pacemaker</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li class="@activeLink("/dashboard")"><a href="/dashboard">Dashboard</a></li>
        <li class="divider"></li>
        <li class="@activeLink("/bmi")"><a href="/bmi">Calculate BMI</a></li>
        <li class="divider"></li>
        <li class="@activeLink("/upload")"><a href="/upload">Upload</a></li>
        <li class="divider"></li>
        <li class="@activeLink("/report")"><a href="/report">Report</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </section>
  </nav>
</div>   