@()

@main("Welcome to Pacemaker") {
  @welcome_menu()
    
	
	<div class="row">
		<div class="small-2 large-4 columns">
			<img src="@routes.Assets.at("images/gymnast_green.png")" class="ui medium image">
		</div>
		<div class="small-6 large-8 columns">
			<h1> Sign up for Pacemaker</h1>
			<p>No Bitcoins accepted! </p>
		</div>
	</div>
	<div class="row">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>  is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	
}